## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmap

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,Atuona,PF,77.92,scattered clouds,-9.8000,-139.0333,Villa Enata
1,1,Bengkulu,ID,83.70,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
2,2,Atambua,ID,85.24,few clouds,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
3,9,Georgetown,MY,85.95,few clouds,5.4112,100.3354,Cititel Penang
4,11,San Patricio,US,85.89,few clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}
<dt></dt><dd>{Max Temp} Â°F</dd>
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
current_weather = vacation_df["Current Weather"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,Atuona,PF,77.92,scattered clouds,-9.8000,-139.0333,Villa Enata
1,1,Bengkulu,ID,83.70,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
2,2,Atambua,ID,85.24,few clouds,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
3,9,Georgetown,MY,85.95,few clouds,5.4112,100.3354,Cititel Penang
4,11,San Patricio,US,85.89,few clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Lasem")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Lasem")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Gondanglegi")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Boyolangu")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Labuhan")]

In [21]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [22]:
vacation_start

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
83,269,Lasem,ID,89.87,scattered clouds,-6.6922,111.4527,"Nyah Lasem | Museum, Guest House & Community C..."

In [23]:
vacation_end

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
83,269,Lasem,ID,89.87,scattered clouds,-6.6922,111.4527,"Nyah Lasem | Museum, Guest House & Community C..."

In [24]:
vacation_stop1

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
208,648,Gondanglegi,ID,89.78,few clouds,-7.7479,112.0132,Gg. Munasir Homestay

In [25]:
vacation_stop2

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
46,160,Boyolangu,ID,80.55,overcast clouds,-8.1181,111.8935,Yos ega cv

In [26]:
vacation_stop3

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
113,365,Labuhan,ID,88.23,broken clouds,-6.8844,112.2051,PT PPI Lamongan Tambak C

In [27]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,269,Lasem,ID,89.87,scattered clouds,-6.6922,111.4527,"Nyah Lasem | Museum, Guest House & Community C..."
1,648,Gondanglegi,ID,89.78,few clouds,-7.7479,112.0132,Gg. Munasir Homestay
2,160,Boyolangu,ID,80.55,overcast clouds,-8.1181,111.8935,Yos ega cv
3,365,Labuhan,ID,88.23,broken clouds,-6.8844,112.2051,PT PPI Lamongan Tambak C

In [30]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}, and <dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [35]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))