## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [9]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,Atuona,PF,77.92,scattered clouds,-9.8000,-139.0333,Villa Enata
1,1,Bengkulu,ID,83.70,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
2,2,Atambua,ID,85.24,few clouds,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
3,9,Georgetown,MY,85.95,few clouds,5.4112,100.3354,Cititel Penang
4,11,San Patricio,US,85.89,few clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"

In [12]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}
<dt></dt><dd>{Max Temp} Â°F</dd>
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [13]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
current_weather = vacation_df["Current Weather"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
vacation_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,Atuona,PF,77.92,scattered clouds,-9.8000,-139.0333,Villa Enata
1,1,Bengkulu,ID,83.70,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
2,2,Atambua,ID,85.24,few clouds,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
3,9,Georgetown,MY,85.95,few clouds,5.4112,100.3354,Cititel Penang
4,11,San Patricio,US,85.89,few clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"

In [35]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Lasem")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Lasem")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Gondanglegi")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Boyolangu")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Labuhan")]

In [ ]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = 
end = 
stop1 = 
stop2 = 
stop3 =

In [ ]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

In [ ]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure